:root {
  --main-color: rgb(14, 9, 80);
}

body{
	font-family: 'Crimson Text', serif;
	font-size: 18px;
}

.navbar-default .navbar-nav li a:hover {
	text-decoration: underline;
}

.navbar-default .navbar-nav li a, body, a {
	color: var(--main-color);
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-default {
    background-color: white;
    border-style: none;
}

nav .container {
    background-color: white;
    border-color: var(--main-color);
    border-style: solid none none;
    border-radius: 0;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
    background-color: white;
    color: var(--main-color);
    text-decoration: underline;
    font-style: italic;
}

.page-header {
    border-style: none;
}

.redes {
	padding: 40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  font-size: 11px;
}
