/* Última modificación 14 de agosto de 2018 */


.libro-titulo{
  font-size: 24px;
  height: 24px;
  margin-bottom: 0px;
  margin-top: 5px;
  font-style: italic;
}

.libro-autor{
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: bold;
}
